body {
  background: black;
  text-align: center;
}
h1 {
  color: white;
  text-align: center;
}
#btn {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border-radius: 50%;
  background: red;
  box-shadow: 0 10px 0 #c00;
  color: white;
  text-align: center;
  line-height: 300px;
  font-size: 50px;
  user-select: none;
  cursor: pointer;
}
#btn:active {
  box-shadow: 0 5px 0 #c00;
  top: 5px;
}

p {
  margin: 30px 0 0 0;
  color: white;
  text-align: center;
  font-size: 30px;
}

.fa-refresh {
  cursor: pointer;
}

#message {
  color: white;
  font-size: 15px;
  margin: 0;
}