body {
  background: black;
  text-align: center;
  color: white;
}
.title {
  color: white;
  text-align: center;
  font-size: 30px;
}
#btn {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border-radius: 50%;
  background: red;
  box-shadow: 0 10px 0 #c00;
  text-align: center;
  line-height: 300px;
  font-size: 50px;
  user-select: none;
  cursor: pointer;
}
#btn:active {
  box-shadow: 0 5px 0 #c00;
  top: 5px;
}

.fa-refresh {
  margin: 20px 0 0 0;
  cursor: pointer;
}

.fa-refresh::before {
  font-size: 30px;
}

#message {
  color: white;
  font-size: 15px;
  margin: 0;
}

dt {
  border-bottom: 1.5px solid #333;
  margin-bottom: 0;
}
dt:before {
  content: "Q. ";
}

dd {
  margin: 10px 0 50px 25px;
  text-indent: -22px;
}
dd:before {
  content: "A. ";
}

.container {
  margin: 0 auto;
  width: 500px;
  text-align: left;
}