body {
  background: black;
}
h1 {
  color: white;
  text-align: center;
}
#btn {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border-radius: 50%;
  background: red;
  box-shadow: 0 15px 0 #c00;
  color: white;
  text-align: center;
  line-height: 300px;
  font-size: 50px;
  user-select: none;
}
#btn:active {
  box-shadow: 0 5px 0 #c00;
  margin-top: 31px;
}