@font-face {
  font-family: 'banana';
  src: url(../img/banana.ttf);
}

body {
  background: black;
  text-align: center;
  color: white;
}

dt {
  font-size: 20px;
  border-bottom: 1.5px solid #333;
  margin-bottom: 0;
}
dt:before {
  content: "Q. ";
}

dd {
  font-size: 20px;
  margin: 10px 0 50px 25px;
  text-indent: -22px;
}
dd:before {
  content: "A. ";
}
.container {
  margin: 0 auto;
  width: 500px;
  text-align: left;
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  .container {
    width: 300px;
  }
}

table {
  border-spacing: 3px;
}

thead {
  background: #333;
}

th {
  padding: 5px;
}

td {
  padding: 0 5px 7px;
}

.banana {
  font-family: 'banana';
}